NEXT_PUBLIC_SUPABASE_URL=https://vrzcavqjckucjldiuqwr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XXXXX

# Ne jamais mettre la clé secrète (sb_secret_...) ici

NEXT_PUBLIC_WEDDING_DATE=2026-07-27T17:00:00
NEXT_PUBLIC_WEDDING_LAT=36.7205
NEXT_PUBLIC_WEDDING_LNG=10.1860
NEXT_PUBLIC_WEDDING_VENUE=Villa Omnia — فضاء أمنية للأفراح
